* {
  font-family: "Roboto", sans-serif;
}

.App {
  width: 100%;
  text-align: center;
  color: White;
  background-image: url("https://wallpaper.dog/large/17016021.gif");
  height: 700px;

  margin-top: 47px;
}
